.secao-cardapio {
  padding: 40px 20px;
  background-color: #fff8f0;
}

.secao-cardapio h2 {
  font-size: 28px;
  color: #8B4513;
  margin-bottom: 20px;
  text-align: center;
}

.item-cardapio {
  background-color: #fff;
  padding: 20px;
  margin: 10px auto;
  border-radius: 12px;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.item-cardapio h3 {
  font-size: 22px;
  color: #8B4513;
}

.item-cardapio p {
  margin: 8px 0;
  color: #333;
}

.item-cardapio span {
  font-weight: bold;
  color: #a0522d;
}
.return {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  
} 
.return a {
  text-decoration: none;
  padding: 20px;
  text-align: center;
  background-color: #8B4513;
    color: #fff;
  border-radius: 12px;
}
.return a:hover {
  background-color: #a0522d;
  transition: background-color 0.3s ease;

}